<h1>Aaron Beaven</h1>
<h3>
13 Wentworth Road, Ashton-in-Makerfield, Lancashire, WN4 9UR
Tel: 07464214495 Email: AaronBeaven1@icloud.com</h3>

<h2>Personal Profile </h2>
<ul class="Skills">
  Recently completed a BTEC Extended Diploma Level 3 in ICT Practitioners – Obtained 3 Distinctions <br>
 Strong communication skills, with the ability to influence others positively. This can be evidenced through <br>
working in my part time job role in Hospitality - The Fat Bull Restaurant <br>
 Competent organiser developed through academic studies at St John Rigby College <br>
 Strong IT skills – confident in the use of Microsoft Office applications, email and the Internet. <br>
 Experienced in managing systems, software design and Technical support through College project work <br>
 Excellent Time Management Skills – developed through practical work and academic studies <br>
 Outstanding Customer Service Skills <br>
 Positive attitude, and able to work on own initiative <br>
 An enthusiastic individual who is able to learn new skills quickly <br>
 Flexible regarding hours of work including evenings and weekends to suit the needs of the business <br>
</ul>
<h2>Education</h2>
<h3>St John Rigby College</h3>
<p>2016 - 2018
Recently completed a BTEC Level 3 Extended Diploma ICT Practitioner: <br>
• 3 Distinctions obtained</p>
<h3>St Edmund Arrowsmith</h3>
<p>2011 – 2015 GCSEs: <br>
 English Language, English Literature, Mathematics, Religious Education, Science, ICT, Physical Education, French</p>
<h2>Work History</h2>
<h3>2017 – Present The Fat Bull Restaurant</h3>
<p>
    I was currently employed on a part time basis on at The Fat Bull restaurant as a  Chef
My duties include: <br>
• Food preparation in the mornings, to prepare for Service <br>
• Preparing starters and desserts to order <br>
• Measuring dish ingredients accurately for correct portion sizes <br>
• Maintaining high standards of hygiene <br>
• Assisting with stock control <br>
• Working to tight deadlines for orders <br>
• Working well as part of a team, to achieve professional results, excellent customer services and customer <br>
satisfaction <br>
• Taking on Additional duties as advised by manager – taking bookings and assisting with bar deliveries <br>
</p>
<h3>2019 – Sofology</h3>
<p>
    I was currently employed on a full time basis at Sofology as a Customer Service advisor
My duties include: <br>
• Listening to customers issues <br>
• Putting myself in the customers shoes so i can ensure they get the best treatment <br>
• Dealing with complains  <br>
• Maintaining high standards PCA <br>
• Working to tight deadlines and goals <br>
• Working well as part of a team, to achieve professional results, excellent customer services and customer <br>
satisfaction <br>
</p>
<h2>Achievements </h2>
<p>
    • Regularly attend Mixed Martial Arts Classes, and compete in Inter club competitions <br>
• I have been an active member of Wigan Junior Latics, Garswood Football Club and School football teams.<br>
During this time I have assisted in winning various Cup Competitions and achieved Club top goal scorer<br>
• Elected Prefect at St Edmund Arrowsmith High School <br>
• Certificates received for 100% attendance at High School <br>
• Faught in Birmingham at the H-Suite in Thai-Boxing in december 2019 <br>
• Currently Studying and learning how to code at Codenation <br>
</p>
<h2>References</h2>
<p>
    Andrea Cunningham, Personal Referee, 9 Heath Road, Ashton- Makerfield, Wigan, WN4 9DY Telephone number
07946816680 Project Manager at Access Creative College, Manchester
</p>