<div class="container">

    <div class="image">
        <div class="imageAndText">
            <img src="/images/HeavenWithaB.jpg" alt="The Don" />
            <div class="textInfo">
            <h2 >A Little About Me</h2>
            <p>Welcome to my webpage, My name is Aaron David Beaven, I am currently learning how to code at a compamny called Codenation I am extremely privilidged to be working for a company like Sofology who have sent me on this course so i can better my future carear. I have a few hobbies such as I enjoy watching and playing football however I love Fighting Martial Arts whether is is Boxing, MMA or my favourite Mauy Thai. I believe that i am a loving, caring and genuine person who will never back down to a challenge, this course is a great example of this as this is one of the biggest challenges that I have had to face however I am coping just fine.</p>
            <h2>My Debut Fight</h2>

            <p>This was my Fighting debut. It was an unreal event hosted by a Thai company called K-Star. This was a
                very
                tough fight, which I Believe that I outscorred my Opponent Zayyon Mahboob, the first round was a good
                feeling
                out round for myself. In the second round I was able to start fully landing my shots and picking my
                oppenent
                apart. The third round was also a very dominant round for myself as I was able to carry on with taking
                my
                opponents leg off with leg kicks and massively outscorred him in the third round. Fourth and Fifth round
                was
                also very dominant rounds for myself as I was able to continually keep my opponent in Thai Clinch and
                this is
                one of the best ways to score points, their was also a moment in the fifth round where I put Zayyon down
                and
                he looked like a broken man this was the point where I knew I had beat my opponent.</p>
                </div>
        </div>
</div>
    </div>
    <div class="info">
        <h3>Aaron Beaven </h3>
        <a href="http://www.wigan-mma.com/"> Fighting For Fitness </a>
        <a href="https://www.youtube.com/watch?v=TWlax3oQ29c&t"> Watch Fight on youtube or down below</a>
</div>